:root {
  font-size: 100%;
	--background-color: yellow;
  --base: 1rem;
  --padding: var(--base);
}

body {
    background-color: var(--background-color);
    margin: 0;
  }

#mood li {
    display: none;
  }

/* Styling the modal and drink results */

body:has(dialog[open]) { overflow: hidden; } /* Stops the page from scrolling when there is an open one: */

dialog {
  background-color: white;
  border-radius: var(--base);
  position: fixed; 
  width: 80vw;
  height: 80vh;
  gap: calc(3 * var(--base));
  inset: 0;
  margin: auto;
 

  &::backdrop {
		background-color: rgb(0 0 0 / 66%); /* A dark overlay. */
		pointer-events: none; /* Let clicks pass through to our `document` listener. */
	}

  & .back-to-beginning {
    position: absolute;
    bottom: calc(2 * var(--base));
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    cursor: pointer;
}
}

.close-button {
  position: absolute;
  top: var(--base);
  right: var(--base);
}

.modal-results h2 {
  padding-block-start: calc(2 * var(--base));
}

.modal-results {
  padding: var(--base);
}

.drink-name {
  font-size: calc(2* var(--base));
  padding-block-end: calc(var(--base) / 2);
}

.drink-ingredients {
  padding-block-end: calc(2* var(--base));
}

.mood-buttons {
  display: flex;
  justify-content: center;
  gap: calc(var(--base) / 2);
  flex-wrap: wrap;
}

form legend {
  text-align: center;
  padding-block-end: var(--base);
}

.slider-container {
  text-align: center;

  & label {
      display: block;
      padding-block-start: calc(2 * var(--base));
      padding-block-end: var(--base);
  }
  & input {
      display: block;
      margin: 0 auto;
      width: calc(12 * var(--base));
  }

  & .slider-label {
      display: flex;
      justify-content: space-between;
      width: calc(12 * var(--base));
      margin: 0 auto;
  }
  }

  input[type="range"] {
  appearance: auto;
}


.submit-button {
  /* text-align: center; */
  /* padding-block-start: calc(2 * var(--base)); */
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: calc(3 * var(--base));
  margin-inline: auto;
  width: fit-content;
  padding: var(--base) calc(2 * var(--base));
  background: #000;  
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

/* Styling the hero */
.hero {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.herotext {
  text-align: center;
}

.herobutton {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: calc(3 * var(--base));
  margin-inline: auto;
  width: fit-content;
  padding: var(--base);
  background: #000;  
  color: #fff;
  border-radius: 0;
  cursor: pointer;
} 

/* .scrollicon {
  width: calc(1.5 * var(--base));
  height: calc(1.5 * var(--base));
  border-left: calc(var(--base) / 5) solid black;
  border-bottom: calc(var(--base) / 5) solid black;
  transform: rotate(-45deg);
}

@keyframes scroll-bounce {
  0%, 100% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(6px); }
} */

.back-to-top {
  position: absolute;
  top: calc(2 * var(--base));
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

html {
  scroll-behavior: smooth;
}


.input-section{
  padding: var(--base);
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-top: 100vh;
  z-index: 1;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Styling the moodwheel section */
/* .wheel-section {
  background-color: green;
  padding: var(--base);

  & h2 {
    margin-block-start: 0;
    text-align: center;
    padding-block-start: var(--base);
  }

  & .moodwheel {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  & p {
    text-align:center;
  }
} */

.mood-buttons {
  gap: var(--base);
  justify-content: center;
  row-gap: calc(var(--base) / 2);

 & button {
  background-color: white;
  border-radius: 50%;
  width: calc(6 * var(--base));
  height: calc(6 * var(--base));
  cursor: pointer;
  text-align: center;
}

 & #bold { 
  background-color: #C70000;
}
 & #warmandcozy {
  background-color: #D47B15;
}
 & #joyful {
  background-color: #FFF131;
}
 & #freshandalive {
  background-color: #3B8E00;
}
 & #dreamy {
  background-color: #AD39D3;
}
}