:root {
  font-size: 100%;
	--background-color: yellow;
  --base: 1rem;
  --padding: var(--base);
}

body {
    background-color: var(--background-color);
    margin: 0;
  }

#mood li {
    display: none;
  }


/* Stops the page from scrolling when there is an open one: */
body:has(dialog[open]) { overflow: hidden; }

dialog {
  background-color: white;
  border-radius: var(--base);
  position: fixed; 
  width: 80vw;
  height: 80vh;
  gap: calc(3 * var(--base));

  /* &[open] { 
    display: grid 
  }  */

  &::backdrop {
		background-color: rgb(0 0 0 / 66%); /* A dark overlay. */
		pointer-events: none; /* Let clicks pass through to our `document` listener. */
	}
}

.close-button {
  position: absolute;
  top: var(--base);
  right: var(--base);
}

.modal-results h2 {
  padding-block-start: calc(2 * var(--base));/* your styles here */
}

.mood-buttons {
  display: flex;
  justify-content: center;
  gap: calc(var(--base) / 2);
  flex-wrap: wrap;
}

.input-section{
  padding: var(--padding);
}

form legend {
  text-align: center;
  padding-block-end: var(--base);
}

.slider-container {
  text-align: center;

  & label {
      display: block;
      padding-block-start: calc(2 * var(--base));
      padding-block-end: var(--base);
  }
  & input {
      display: block;
      margin: 0 auto;
      width: calc(12 * var(--base));
  }

  & .slider-label {
      display: flex;
      justify-content: space-between;
      width: calc(12 * var(--base));
      margin: 0 auto;
  }
  }


.submit-button {
  text-align: center;
  padding-block-start: calc(2 * var(--base));
}

/* Styling the hero */
.hero {
  background-color: white;
  width: 100vw;
  height: 60vh;
}

.wheel-section {
  background-color: red;
  height: 60vh;
  & h2 {
    margin-block-start: 0;
}
}
