:root {
  font-size: 100%;
	--background-color: yellow;
  --base: 1rem;
}

body {
    background-color: var(--background-color);
  }

#mood li {
    display: none;
  }


/* Stops the page from scrolling when there is an open one: */
body:has(dialog[open]) { overflow: hidden; }

dialog {
  background-color: white;
}
